<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<header>
  <h1>ANIMALS</h1>
  <div id="divHeader">
    <img src="../../assets/animals.png" alt="logo">
  </div>
</header>
<mat-toolbar color="dark">
  <mat-toolbar-row class="spacer">
    <a  routerLink='' mat-list-item>Inicio</a>
    <a  routerLink='' mat-list-item>Buscar Animales</a>
    <a  routerLink='' mat-list-item>Contacto</a>
    <a  routerLink='' mat-list-item>Iniciar Sesi&oacute;n</a>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>

