*{
  margin: 0;
  padding: 0;
}

header{
  height: 150px;
  background: linear-gradient(black, orangered, yellow);
  justify-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0px;
}

h1{
  font-family: 'Permanent Marker', cursive;
  color: black;
  text-align: center;
  font-size: 6vw;
  width: 70%;
}

#divHeader{
  width: 10%;
  height: 80%;
}

img{
  width: 100%;
  height: 100%;
}

mat-toolbar{
  position: sticky;
  top: 150px;
}

mat-toolbar-row{
  justify-content: space-evenly;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: white;
}

a:active, a:hover{
  color: black;
  background-color: orange;
  padding: 15px 25px;
}

